.vscode/
data/OpenTrench3D/
*.obj
*.lib
*.vcxproj
*.vcxproj.filters
*.tlog
*.recipe
*.exp
*.cu.cache
*.deps
*.stamp
*.depend
*.log
*.cmake
*.sln
*.rule
*.yaml
*.stamp.list
*.check_cache
build/CMakeFiles/
build/CMakeCache.txt